// 主题
@xtxColor:#27BA9B;
// 辅助
@helpColor:#E26237;
// 成功
@sucColor:#1DC779;
// 警告
@warnColor:#FFB302;
// 价格
@priceColor:#CF4444;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body,
#app {
  width: 100%;
  height: 100%;
}
body {
  min-width: 1240px;
}
img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
input {
  outline-style: none;
  border: 0;
  outline: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
/* 给父类添加一个 clearfix */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
